

<% if logged_in? %>
	<h1 class="header-text">Welcome <% @user.first_name %></h1>

	<h3 class="header-text">Do you need to edit your profile?</h3>
	<button><%= link_to 'Edit Profile', 'users_edit' %></button>
	

<% else %>
	<h1 class="header-text">New User</h1>
	<%= render 'form' %>

	<button><%= link_to 'Back', users_path %></button>
<% end %>


