

<% if logged_in? %>
	<h1>Welcome <% @user.first_name %></h1>

	<h3>Do you need to edit your living will?</h3>
	<p><button><%= link_to 'Edit Living Will', users_path %></button></p>

<% else %>
	<h1>New User</h1>
	<%= render 'form' %>

	<%= link_to 'Back', users_path %>
<% end %>


