<h1 class="header-text">Welcome, <%= @user.first_name %></h1>

	<h3 class="header-text">Click the link below to continue to the Living Will Form.<h3><br>
	<div class="middle">
		<button class="form-start"><%= link_to 'Fill out form', :first_scenarios %></button>
	</div>



</form>




