<h1>Welcome, <%= @user.first_name %></h1>

<p>
  <strong>Instructions: </strong>
   <span>Please click the link below to begin filling out your Living Will.</span>
</p>

<%= link_to 'Fill out form', new_form_path %>

