<%= form_for(@form) do |f| %>

  <div class="field">
    <p><strong>1. My quality of health is similar to what it is now. i.e. I have no end-stage medical conditions and my mental faculties are intact. I am able to care for myself.</strong></p>
    <p>If I develop an acute medical illness that may be treated, and my doctors think I have a reasonable chance of surviving the illness and leaving the hospital, I wish the following: (Check any that apply:</p>
    <%= f.check_box :gh_ami %>Comfort care only
    <%#= f.check_box("forms", "gh_ami", {:multiple => true}, "Comfort Care, IV, etc", nil) %>
    <%#= f.check_box("forms", "gh_ami", {:multiple => true}, "Regular Medical Care", nil) %>
    <%#= f.check_box("forms", "gh_ami", {:multiple => true}, "Invasive Procedures", nil) %>
    <%#= f.check_box("forms", "gh_ami", {:multiple => true}, "Respirator", nil) %>
    <%#= f.check_box("forms", "gh_ami", {:multiple => true}, "Dialysis", nil) %>
    <%#= f.check_box("forms", "gh_ami", {:multiple => true}, "CPR", nil) %>
  </div>
  <div class="field">
     <%#= f.label :password %><br />
     <%#= f.password_field :password %>
  </div>
  <div class="field">
     <%#= f.label :password_confirmation %><br />
     <%#= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>