<button id="results">View Results</button>

<div class="summaryList">
	<strong>Scenario 1 with acute medical condition</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id="test"></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span><span id=""></span>

		<strong>CPR: </strong><span id=""></span>

	</p>

	<strong>Scenario 1 with brain illness</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id=""></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span>

		<strong>CPR: </strong><span id=""></span>

	</p>

	<strong>Scenario 2 with acute medical condition</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id=""></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span>

		<strong>CPR: </strong><span id=""></span>

	</p>

	<strong>Scenario 2 with brain illness</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id=""></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span>

		<strong>CPR: </strong><span id=""></span>

	</p>

	<strong>Scenario 3 with acute medical condition</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id=""></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span>

		<strong>CPR: </strong><span id=""></span>

	</p>

	<strong>Scenario 3 with brain illness</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id=""></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span>

		<strong>CPR: </strong><span id=""></span>

	</p>

	<strong>Scenario 4 with acute medical condition</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id=""></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span>

		<strong>CPR: </strong><span id=""></span>

	</p>

	<strong>Scenario 4 with brain illness</strong><span id=""></span><br>
	<p>
		<strong>Comfort Care only: </strong><span id=""></span>

		<strong>Comfort Care and IV/Feeding tube: </strong><span id=""></span>

		<strong>Regular Medical Care: </strong><span id=""></span>

		<strong>Invasive Procedures: </strong><span id=""></span>

		<strong>Respirator: </strong><span id=""></span>

		<strong>Dialysis: </strong><span id=""></span>

		<strong>CPR: </strong><span id=""></span>
	
	</p>

</div>